<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Berg | Display Page</title>
    <link rel="shortcut icon" th:href="@{/images/favicon/favicon.ico}" type="image/jpg"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/prism/prism.css}" id="dark-theme">
    <link rel="stylesheet" th:href="@{/plugins/prism/prism-light.css}" id="light-theme">
    <link rel="stylesheet" th:href="@{/plugins/toc/bootstrap-toc.css}">
</head>
<body class="main">
<div class="blur">
    <!-- Nav -->
    <div class="container py-3">
        <header class="d-flex flex-wrap justify-content-center py-3 border-bottom ms-4">
            <a href="javascript:home();"
               class="d-flex align-itemfile_types-center mb-md-0 me-md-auto text-decoration-none align-items-center"
               title="Go to Home Page">
                <img th:src="@{/images/favicon/favicon.png}" src="/static/images/favicon/favicon.png" alt="B" class="icon">
                <span class="fs-4 head-line">erg's Site</span>
            </a>

            <ul class="nav nav-pills">
                <li class=""><a href="javascript:void(0);" class="nav-link active" aria-current="page">Home</a></li>
                <li class=""><a href="javascript:void(0);" class="nav-link">Features</a></li>
                <li class=""><a href="javascript:void(0);" class="nav-link">About</a></li>
                <li class="">
                    <label class="switch nav-link w-auto">
                        <i class="fas fa-adjust"></i>&nbsp;
                        <div>
                            <input type="checkbox"/>
                            <span class="slider round"></span>
                        </div>
                    </label>
                </li>
            </ul>
        </header>
    </div>

    <!-- Content -->
    <div class="container p-4 content">
        <div class="row mt-0 g-5">
            <div class="col-md-8 main_article" id="article"></div>

            <div class="col-md-4 d-none d-md-block">
                <div class="position-sticky" style="top: 2rem;">

                    <div class="p-4 mb-3 rounded notice">
                        <span class="fst-italic fs-4 head-line">About</span>
                        <p class="mb-0">Customize this section to tell your visitors a little bit about your publication,
                            writers, content, or something else entirely. Totally up to you.</p>
                    </div>

                    <nav class="p-4 position-sticky" id="table_of_content"></nav>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="blur bottom-0 position-relative w-100 footer">
        <div class="container">
            <footer class="row row-cols-4 py-5 my-5 border-top user-select-none">
                <div class="col col-md-6">
                    <embed th:src="@{/images/favicon/favicon.svg}" type="image/svg+xml"/>
                    <p class="copyright">
                        <span class="col col-md-4 col-sm-12">© 2021 Tim Berg.</span>
                        <span class="col col-md-4 col-sm-12"><a href="javascript:void(0);"
                                                                class="text-decoration-none">Terms of use</a></span>
                        <span>•</span>
                        <span class="col col-md-4 col-sm-12"><a href="javascript:void(0);" class="text-decoration-none">Privacy</a></span>
                    </p>
                </div>

                <div class="col col-md-2">
                    <span class="fs-5">Section</span>
                    <ul class="nav flex-column">
                        <li class="mb-2"><a href="javascript:void(0);" class=" p-0 footer-link"><span
                                class="fas fa-home">&nbsp;Home</span></a></li>
                        <li class="mb-2"><a href="javascript:void(0);" class=" p-0 footer-link"><i
                                class="fas fa-external-link-alt">&nbsp;Features</i></a></li>
                        <li class="mb-2"><a href="javascript:void(0);" class=" p-0 footer-link"><span
                                class="fas fa-external-link-alt">&nbsp;Pricing</span></a></li>
                        <li class="mb-2"><a href="javascript:void(0);" class=" p-0 footer-link"><span
                                class="fas fa-external-link-alt">&nbsp;FAQs</span></a>
                        </li>
                        <li class="mb-2"><a href="javascript:void(0);" class=" p-0 footer-link"><span
                                class="fas fa-laptop">&nbsp;About</span></a>
                        </li>
                    </ul>
                </div>

                <div class="col col-md-2">
                    <span class="fs-5">Section</span>
                    <ul class="nav flex-column">
                        <li class="mb-2"><a href="javascript:void(0);" class=" p-0 footer-link"><span
                                class="fas fa-home">&nbsp;Home</span></a></li>
                        <li class="mb-2"><a href="javascript:void(0);" class=" p-0 footer-link"><i
                                class="fas fa-external-link-alt">&nbsp;Features</i></a></li>
                        <li class="mb-2"><a href="javascript:void(0);" class=" p-0 footer-link"><span
                                class="fas fa-external-link-alt">&nbsp;Pricing</span></a></li>
                        <li class="mb-2"><a href="javascript:void(0);" class=" p-0 footer-link"><span
                                class="fas fa-external-link-alt">&nbsp;FAQs</span></a>
                        </li>
                        <li class="mb-2"><a href="javascript:void(0);" class=" p-0 footer-link"><span
                                class="fas fa-laptop">&nbsp;About</span></a>
                        </li>
                    </ul>
                </div>

                <div class="col col-md-2">
                    <span class="fs-5">Social Media</span>
                    <ul class="nav flex-column">
                        <li class="mb-2">
                            <a href="javascript:void(0);" class=" p-0 footer-link"><i
                                    class="icon-facebook"></i>&nbsp;Slf4j</a>
                        </li>
                        <li class="mb-2">
                            <a href="javascript:void(0);" class=" p-0 footer-link"><i
                                    class="icon-youtube"></i>&nbsp;Tim</a>
                        </li>
                        <li class="mb-2">
                            <a href="javascript:void(0);" class=" p-0 footer-link"><i
                                    class="icon-instagram"></i>&nbsp;Berg</a>
                        </li>
                        <li class="mb-2">
                            <a href="javascript:void(0);" class=" p-0 footer-link"><i
                                    class="icon-wechat"></i>&nbsp;BergNotEvil</a>
                        </li>
                        <li class="mb-2">
                            <a href="javascript:void(0);" class=" p-0 footer-link"><i
                                    class="icon-twitter"></i>&nbsp;@Berg</a>
                        </li>

                        <li class=" mb-2 ">
                            <a href="javascript:void(0);" class=" p-0 footer-link"><i
                                    class="icon-bilibili"></i>&nbsp;Berg-</a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</div>

<!-- Go Upwards-->
<button class="upwards" id="upward" onclick="topFunction()"><i class="fas fa-arrow-up"></i>
</button>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/plugins/marked/marked.min.js}"></script>
<script th:src="@{/plugins/prism/prism.js}"></script>
<script th:src="@{/plugins/toc/bootstrap-toc.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/init-display.js}"></script>
<script th:src="@{/js/init-redirect.js}"></script>
<!-- for test -->
<script>
    console.log("Something for test.")
</script>
</html>
