<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.berg.home.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="me.berg.home.model.Project">
            <id property="pid" column="pid" jdbcType="SMALLINT"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>
